:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  background-image: url('../src/assets/fondo.jpg');
  background-size: cover; /* Esto asegura que la imagen cubra todo el fondo */
  background-position: center; /* Esto centra la imagen de fondo */
  opacity: 0.9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* styles.css */


.btnNatura{
  border-radius: 3em;
  transition: all 0.3s ease;
}

.btnNatura:hover {
  box-shadow: 0 0 10px #213547; /* Sombra */
}

.bueno {
  background: linear-gradient(135deg, #fffacd 0%, #ffeb3b 50%, #f8d800 100%);
  color: black;
}

.neutral {
  background: linear-gradient(135deg, #e0e0e0 0%, #cfd9df 50%, #a8c0ff 100%);
  color: black;
}
.caotico {
  background: linear-gradient(45deg, #8B0000 0%, #FF0000 50%, #8B0000 100%);
  color: white;
}

.oscuro {
  background: linear-gradient(135deg, #2c003e 0%, #8b00ff 100%);
  color: white;
}

.selected {
  border: 5px solid greenyellow;
  box-shadow: 
    0 0 15px aliceblue, /* Primera capa de sombra */
    0 0 30px greenyellow, /* Segunda capa de sombra */
    0 0 45px  greenyellow, /* Tercera capa de sombra */
    0 0 60px black; /* Cuarta capa de sombra */
    
}

.guerrero{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;
}

.mArmas{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;

}

.mSombras{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;
}

.mEspiritual{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;
}

.hechicero{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;
}

.cBakemono{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,40,9,0.9906337535014006) 49%, rgba(0,212,255,1) 100%);
  color: white;
}
.carta {
  border: 1em solid black;
  border-radius: 15px;
  box-shadow: 
    0 0 10px aliceblue,
    0 0 20px black,
    0 0 30px rgba(0, 0, 0, 0.541),  /* Sombra más alejada */
    0 0 40px black;  /* Sombra aún más alejada */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave */



}
.pergamino{
  background-color: #ECD9B0; 
  padding: 15px; 
}

.textoCard{
  
  font-size: 1.5em;
  color: yellow;
  box-shadow: #1a1a1a;
  background-color: #1a1a1aa6;
  border-radius: 1em;
  width: 30em; /* Ancho fijo, puedes ajustar este valor según tus necesidades */
  word-wrap: break-word;  
}

.mensajeAp{
  padding: 1em;
  font-size: 2em;
  color: yellow;
  box-shadow: #1a1a1a;
  background-color: #1a1a1aa6;
  border-radius: 1em;
  word-wrap: break-word; 
}
